<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="KLMConnectionString" connectionString="Server=localhost;Database=KLM;Trusted_Connection=True;TrustServerCertificate=True;Timeout=5000"/>
	</connectionStrings>
	<appSettings>
		<add key="tableName" value="TempVisits"/>
	</appSettings>
</configuration>